mixin input(placeholder, name, type)
  .form-group
    input.form-control(type=type name=name value=val(name) placeholder=placeholder)

mixin accountProperty(property, value, name)
  .mb-3.form-row
    .col-5
      h3=property
    .col-7.align-self-center
      input.form-control(value=value name=name)

mixin checkbox(name, label, icon)
  .form-check
    input.check.form-check-input(type='checkbox' id=name name=name)
    label.form-check-label(for=name)=label + " "
      i(class=icon)